*{
    margin: 0px;
    padding: 0px;

}
.menu-container{
    background-color: rgb(29, 28, 28);
    padding: 20px;
    color: white;
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: space-around;

}
.menus{
    display: flex;
}
.logo-photo{
    width: 120px;
}
.item{
    margin: 10px;
    padding: 7px;
    font-size: 18px;
}
.item:hover{
    color: blue;
    cursor: pointer;
}
.banner-img{
    width: 400px;
}
.banner-container{
    display: flex;
    justify-content: space-around;
    /*border: 2px solid gray;*/
    height: 100vh;
    align-items: center;
    color: white;
    background-image: url(./ss.jpg);
    
}
.title{
    color: white;
    font-size: 55px;
    font-weight: bold;
}
.descrip{
    font-size: 18px;
    margin-top: 15px;
    margin-bottom: 15px;
}
.btn{
    padding: 10px 20px;
    background-color: red;
    border: none;
    color: white;
}
.btn:hover{
    color: black;
    cursor: pointer;
}